extends layout

block content

    h1 Edit User
    form(action=`/users/edit/${id}?_method=PUT`, method="POST")
        label(for="name") Name:
        input( type='text' name='name' value=user.name )
        |
        |
        label(for="username") Username:
        input( type='text' name='username'  value=user.username )
        |
        |
        label(for="email") Email:
        input( type='email' name='email'  value=user.email )
        |
        |
        button(type="submit") Edit User

